.products {
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2rem 2rem;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.065);
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin: 15px 0;
}


.productText{
display: flex;
justify-content: space-around;
width: 60%;
}



.buttons {
  display: flex;
  justify-content: space-between;
  width: 25%;
	height: 2.5rem;
}

.button {
  color: #6d28d9;
  border: 1px solid #6d28d9;
  border-radius: 3px;
  outline: none;
  padding: 1px 8px;
  cursor: pointer;
  background-color: #fff;
}

.incButton {
  background-color: #e5dbf5;
}

.quantityVal {
  background-color: #ece6f5ba;
  color: #6d28d9;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove {
  color: red;
  border: 1px solid red;
  background-color: #fff;
}



@media only screen and (max-width: 600px) {
	.products {
		font-size: 16px;
		padding: 2rem 2rem;
		

	}
	
	.productText{
		flex-direction: column;
	}

	.products p, .products span {
margin-bottom: 10px;

	}


	.buttons {
	flex-direction: column;
		justify-content: space-around;
		width: 25%;

		margin-top: 1rem;
	}

	.button {
		margin: .3rem 0;
	}

 } 